.video-item{
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
}

.video-item.item img {
    max-width: 180px;
}

/*body{
    background-image: radial-gradient(#e6ebef, rgba(171, 189, 206, 0.69));
}*/